@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  background-color: #f8fafc;
}

.navbar-logo-header {
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.card-width {
  max-width: 262px;
  min-width: 200px
}

@media screen and (max-width: 360px){
  .card-width {
    max-width: unset;
    min-width: unset;
  }
}

.sign-btn a {
  position: relative;
  top: 10px;
}

.header-bg {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/header-bg.jpg') no-repeat fixed;
  background-size: cover;
}

.fund-image {
  background-image: url('../img/wallet.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.header-text {
  padding-top: 150px;
  padding-bottom: 200px;
}

.header-btn {
  padding-left: 80px;
  padding-right: 80px;
  font-weight: bold
}

.text-brand-dark {
  color: #240041;
}

.text-brand-color {
  color: #900048;
}

.text-align-left {
    text-align: left;
}

.text-gray {
  color: #506077;
}

.bg-orange {
  background-color: #FF4057;
}

.bg-brand-color {
  background-color: #900048;
}

.bg-brand-dark {
  background-color: #240041;
}

.text-thin {
  font-weight: 100;
}

#about {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}

#works {
  padding-bottom: 80px;
  padding-top: 80px;
}

.grad {
  background-image: linear-gradient(to right, #900048 , #240041, #FF4057)
}

@media screen and (max-width: 768px){
  .inclusive-health-img {
    order: 1;
  }

  .inclusive-health-text {
    order: 2;
  }

  .image-align-center {
    text-align: center;
  }
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #900048;
}
.sign:hover {
  color: #900048;
}

.header-box {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
}

.breadcrumb-wrapper .breadcrumb {
  position: static;
  float: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 12px;
  background: transparent;
  list-style: none;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb li + li:before {
  content: "/";
  padding: 0 8px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

#profile-image {
  background-color: #bbbbbb;
}

.main-footer {
  background: #fff;
  padding: 15px;
  border-top: 1px solid #d2d6de;
  margin-top: 30px;
}

.summary-table {
    margin-top: -180px;
}

.login-bg {
  background-image: linear-gradient(to right, #900048 , #240041, #FF4057)
}

@media only screen and (max-width: 600px) {
  .summary-table {
    margin-top: 15px;
  }
}

.tab, .error-msg, #prevBtn {
  display: none;
}

.card-body p span {
    background: #900048;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
    color: white;
}

.card .bg-brand-color, .card .bg-brand-dark {
    border-radius: inherit;
}

.empty-state i{
    border: 2px solid #b0b0b0;
    padding: 10px;
}

#debit-card, #mobile-money {
  display: none;
}

#telephone {
  padding-right: 174px;
}

select:invalid { color: #bbbbbb; }

.status {
  display: inline-block;
  padding: 0 6px;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
}

.status-pending {
  color: #F49917;
  border-color: #F49917;
}

.status-cancelled {
  color: #dc3545;
  border-color: #dc3545;
}

.status-completed {
  color: #23BF08;
  border-color: #23BF08;
}

.table-header {
  color:#900048;
  font-weight: bold;
  border-right: 1px solid #ddd
}

.pagination {
  margin-top: 20px;
}

.empty-state i {
  color: #7779;
}

.main, .index {
  overflow-x: hidden;
}

@media screen and (max-width: 764px){
  .main {
    overflow-x: unset;
  }
}

.lead {
  font-size: unset;
}

#footer {
  background: #2b2b2b;
  color: #ffffff;
  padding-top: 60px;
}

#footer .row {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 30px
}

.email {
  text-decoration: underline;
}

#footer .quick-links p a, #footer .quick-links p a:hover {
  color: #ffffff;
}

.social-media-logo-container {
  margin-top: 30px
}

.copyright-footer {
  padding-top: 30px;
  padding-bottom: 30px
}
